.frame{
  margin: 0 auto;
  margin-top: 110vh;
}
.box {
  background-color: lightgrey;
  text-align: center;
  border-radius: 3px;
}

.bodyPull {
  margin-top: 0;
  animation: bodyPull 2s;
  animation-iteration-count: 1;
}
@keyframes bodyPull {
  0% {
    margin-top: 110vh;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

@supports (display:grid) {
  .grid {
    display: grid;
    grid-gap: 1vw;
    height: 100%;
    min-height: 80vh;
    width: 90vw;
    min-width: 90vw;
    padding: 1vw;
  }
  @media (max-width: 500px) {
    /* Phone Grid */
    .grid {
      grid-gap:2vw;
      width: 99vw;
      grid-template-columns: repeat(2,48vw);
      grid-template-rows: repeat(4, 20vh);
      grid-template-areas: "full full" "small1 small2" "small3 small4" "small5 small5";
    }
    /* .grid - Close */
  }
  /* Media Query - Close */
  @media (min-width: 501px) {
    /* Desktop Grid */
    .grid {
      grid-template-columns: repeat(3, 32vw);
      grid-template-rows: repeat(3, 33vh);
      grid-template-areas: "full full small1" "small2 small3 small4" "small5 small5 small5"
    }
    /* .grid - Close */
  }
  /* Media Query - Close */
  .grid .item:nth-child(1) {
    grid-area: full;
  }
  .grid .item:nth-child(2) {
    grid-area: small1;
  }
  .grid .item:nth-child(3) {
    grid-area: small2;
  }
  .grid .item:nth-child(4) {
    grid-area: small3;
  }
  .grid .item:nth-child(5) {
    grid-area: small4;
  }
  .grid .item:nth-child(6) {
    grid-area: small5;
  }
}

/* Supports Grid - Close */