@import "_config.scss";
@import "open_animation.scss";
@import "bodyHome.scss";

h2.logo {
  height: auto;
  max-height: 20vh;
  background-color: $logoBlue;
  padding: 30px;
  margin-bottom: 0.5vh;

  span {
    margin-left: -30px;
    color: white;
    background-color: black;
    padding: 10px 10px 10px 70px;
    font-size: 30px;
    border-radius: 0 7px 7px 0;
  }
    @media (max-width: 500px) {
      span {
        font-size: 22px;
      }
    }
}

.startButton{
  text-align: center;
  padding: 10px 20px;
  font-size: 32px;
  font-weight: 700;
  border-radius: 3px;
  background: $logoBlue;
  color: $white;
  display: block;
  margin: 50vh auto 0 auto;
  max-width: 200px;
}

  nav,
  nav ul,
  nav ul li {
    margin: 0;
    padding: 0;
  }
  nav{
    position: absolute;
    top: 50%; right: 15px;
    @include translateY(-50%);

    ul li{
      list-style-type: none;
      display: inline-block;
      margin-right: 20px;

      &.last{
        margin: 0;
      }
    }
    a{
      font-size: 19px; 
      line-height: normal;
      color: $white;
    }
  }